body
{
background-image:url(../img/classroom.jpg);
background-color:#3B3738;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}
.h-border
{
  text-decoration: none; 
  padding: 2px 2px 2px 2px;
  box-shadow: 1px 1px 5px grey;
}
.h-border:hover
{
  box-shadow: 5px 5px 10px grey;
}
.btn-primary
{
	background-color:#27ae60;
}
.panel-default
{
	box-shadow: 3px 3px 10px grey;
}